{% extends 'base.html'%}
{% block content %}
    <div style="margin-left:300px; margin-top:150px;">
        <h6>Names: {{student.names}}</h6>
        <h6>Email: {{student.email}}</h6>
         
        <hr>
        <div>
            <a href="{% url 'add_image' student.person_ptr.id %}" class="btn btn-secondary">Add New Image</a>
        </div>
        <div class="row">
            {% for photo in gallery%}
                <div class="col-md-3" style="margin: 10px;">
                    <div class="card" style="width: 18rem;">
                        <img src="{{photo.photos.url}}" alt="Smiley face" class="card-img-top" width="250" height="350" style="object-fit: cover;">
                        <div class="card-body">
                        <form action="{% url 'delete_image' photo.id %}" method="post">
                            {% csrf_token %}
                            <button class="alert" type="submit">Delete</button>
                        </form>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>  
    </div>

    <script>
        $(function() {
            $('.alert').click(function() {
                return window.confirm("Are you sure?");
            });
        });
    </script>
    
{% endblock %}