{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%} create student {% endblock%}
{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          {% if form.instance.pk %}
          <h1 class="h4">Update Student</h1>
          {% else %}
          <h1 class="h4">Create Student</h1>
          {% endif %}
        </div>
        <div class="card-body">
          <form method="post" id="studentForm" data-departments-url="{% url 'ajax_load_departments' %}" novalidate
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                {{form.student_id.label_tag}}
                {{form.student_id}}
                {{form.student_id.errors}}
              </div>
              <div class="form-group col-md-6">
                {{form.names.label_tag}}
                {{form.names}}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                {{form.email.label_tag}}
                {{form.email}}
                {{ form.email.errors }}
              </div>
              <div class="form-group col-md-6">
                {{form.phone.label_tag}}
                {{form.phone}}
                {{ form.phone.errors }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-check col-md-6">
                {{form.gender.label_tag}}
                {{form.gender}}
                {{ form.gender.errors }}
              </div>
              <div class="form-group col-md-6">
                {{form.dob.label_tag}}
                {{form.dob}}
                {{ form.dob.errors }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                {{form.faculty.label_tag}}
                {{form.faculty}}
                {{ form.faculty.errors }}
              </div>
              <div class="form-group col-md-6">
                {{form.department.label_tag}}
                {{form.department}}
                {{ form.department.errors }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                {{form.address.label_tag}}
                {{form.address}}
                {{ form.address.errors }}
              </div>
              <div class="form-group col-md-4">
                {{form.status.label_tag}}
                {{form.status}}
                {{ form.status.errors }}
              </div>
              <div class="form-group col-md-4">
                {{form.student_status.label_tag}}
                {{form.student_status}}
                {{ form.student_status.errors }}
              </div>
              <div class="form-group">
                <label for="note-image">Images</label>
                <input type="file" name="images" class="form-control-file" id="note-image" multiple>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("#id_faculty").change(function () {
    var url = $("#studentForm").attr("data-departments-url");
    var facultyId = $(this).val();

    $.ajax({
      url: url,
      data: {
        'faculty': facultyId
      },
      success: function (data) {
        $("#id_department").html(data);
      }
    });

  });
</script>

{% endblock %}