{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%} create student {% endblock%}
{% block content %}

  <div class="container">
    {% if form.instance.pk %}
    <h3>Update Student</h3>
    {% else %}
      <h3>Create Student</h3>
    {% endif %}

    <div>
      <form method="post" id="studentForm" data-departments-url="{% url 'ajax_load_departments' %}" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
          <label for="note-image">Images</label>
          <input type="file" name="images" class="form-control-file" id="note-image" multiple>
          <button type="submit" class="btn btn-success">Save Student</button>
      </div>
      </form>
    </div>
    
  </div>

  <script>
    $("#id_faculty").change(function () {
      var url = $("#studentForm").attr("data-departments-url");
      var facultyId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'faculty': facultyId
        },
        success: function (data) {
          $("#id_department").html(data);
        }
      });

    });
  </script>

{% endblock %}
