{% extends 'base.html'%}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Student List</h1>
        <a href="{% url 'export_csv'%}" class='btn btn-primary'>Export to csv</a>
        <a href="{% url 'export_excel'%}" class='btn btn-primary'>Export to excel</a>
        <a href="{% url 'export_pdf'%}" target="_blank" class='btn btn-primary'>Export to pdf</a>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatables-reponsive" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Names</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Gender</th>
                                    <th>Status</th>
                                    <th>Faculty</th>
                                    <th>Department</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{student.names}}</td>
                                    <td>{{student.email}}</td>
                                    <td>{{student.address}}</td>
                                    <td>{{student.gender}}</td>
                                    <td>{{student.status}}</td>
                                    <td>{{student.faculty}}</td>
                                    <td>{{student.department}}</td>
                                    <td>
                                        <a href="{% url 'student_details' student.pk %}" class="btn btn-default btn-sm">Show</a>
                                        <a href="{% url 'edit_student' student.pk %}" class="btn btn-warning btn-sm">Edit</a>
                                        <a href="{% url 'delete_student' student.pk%}" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Datatables Responsive
        $("#datatables-reponsive").DataTable({
            responsive: true
        });
    });
</script>
{% endblock %}