{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User List</title>
    <style>
        th,
        td {
            text-align: left;
        }

        td {
            text-align: justify;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>

<body>
    <img src="static/img/AucaLogo.jpg" alt="No Image" width="100px" height="100px" style="object-fit: cover;"
        class="center">
    <h1 style="text-align: center;">User List</h1>

    <table>
        <thead>
            <tr>
                <th>Names</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.names}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.address}}</td>
                <td>{{user.gender}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
{% endblock %}