{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%} create user {% endblock%}
{% block content %}

<main class="content">
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            {% if form.instance.pk %}
            <h1 class="h3">Update User</h1>
            {% else %}
            <h1 class="h3">Create User</h1>
            {% endif %}
          </div>
          <div class="card-body">
            <form method="post" id="studentForm" data-departments-url="{% url 'ajax_load_departments' %}" novalidate
              enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{form.names|as_crispy_field}}
                </div>
                <div class="form-group col-md-6">
                    {{form.email|as_crispy_field}}
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                    {{form.phone|as_crispy_field}}
                  </div>
                  <div class="form-check col-md-6">
                    <label class="form-label" style="margin-right: 20px;">Gender</label>
                    {{form.gender}}
                  </div>
              </div>
              <div class="form-row">                
                <div class="form-group col-md-6">
                  {{form.dob|as_crispy_field}}
                </div>
                <div class="form-group col-md-6">
                    {{form.address|as_crispy_field}}
                </div>
                <div class="form-group col-md-6">
                    {{form.password1|as_crispy_field}}
                </div>
                <div class="form-group col-md-6">
                    {{form.password2|as_crispy_field}}
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}