{% extends 'base.html'%}
{% block content %}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Faculties</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mb-2">
        <div class="col-sm-4">
            <a href="{% url 'add_department'%}" class="btn btn-primary btn-rounded mb-3"><i class="mdi mdi-plus"></i>
                Create
                Department</a>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatables-reponsive" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Department</th>
                                    <th>Faculty</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for department in departments %}
                                <tr>
                                    <td>{{department.id}}</td>
                                    <td>{{department.name}}</td>
                                    <td>{{department.faculty.name}}</td>
                                    <td>
                                        <a href="{% url 'edit_department' department.pk %}" class="action-icon"> <i
                                                class="mdi mdi-square-edit-outline"></i></a>
                                        <a href="{% url 'delete_department' department.pk%}" class="action-icon"> <i
                                                class="mdi mdi-delete confirm-delete"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Datatables Responsive
                $("#datatables-reponsive").DataTable({
                    responsive: true
                });
            });
            $(document).on('click', '.confirm-delete1', function () {
                return confirm('Are you sure you want to delete this?');
            })
        </script>
    </div>
    <!-- end row-->
</div>

{% endblock %}