{% extends 'base.html'%}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">

        <a href="{% url 'add_image' employee.person_ptr.id %}" class="btn btn-primary float-right mt-n1"><i class="fas fa-plus"></i> New Image</a>
        <h1 class="h3 mb-3">Gallery</h1>

        <div class="row">
            {% for photo in gallery%}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{photo.photos.url}}" alt="Smiley face" class="card-img-top" style="object-fit: cover; width: 350px; height: 350px;">
                        <div class="card-body">
                            <form action="{% url 'delete_image' photo.id %}" method="post">
                                {% csrf_token %}
                                <button class="alert" type="submit">Delete</button>
                            </form>
                        </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>

</main>

{% endblock %}