{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        {% if not form.instance.student_id %}
            <h4>Create Employee</h4>
        {% else %}
            <h4>Update Employee</h4>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Save Employee" class="btn btn-success">
        </form>
    </div>
{% endblock %}