{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%} create employee{% endblock%}
{% block content %}

<main class="content">
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            {% if form.instance.pk %}
            <h1 class="h4">Update Employee</h1>
            {% else %}
            <h1 class="h4">Create Employee</h1>
            {% endif %}
          </div>
          <div class="card-body">
            <form method="post" novalidate enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{form.staff_id.label_tag}}
                  {{form.staff_id}}
                  {{ form.staff.errors }}
                </div>
                <div class="form-group col-md-6">
                  {{form.names.label_tag}}
                  {{form.names}}
                  {{ form.names.errors }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{form.email.label_tag}}
                  {{form.email}}
                  {{ form.email.errors }}
                </div>
                <div class="form-group col-md-6">
                  {{form.phone.label_tag}}
                  {{form.phone}}
                  {{ form.phone.errors }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-check col-md-6">
                  {{form.gender.label_tag}}
                  {{form.gender}}
                  {{ form.gender.errors }}
                </div>
                <div class="form-group col-md-6">
                  {{form.dob.label_tag}}
                  {{form.dob}}
                  {{ form.dob.errors }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{form.address.label_tag}}
                  {{form.address}}
                  {{ form.address.errors }}
                </div>
                <div class="form-group col-md-6">
                  {{form.status.label_tag}}
                  {{form.status}}
                  {{ form.status.errors }}
                </div>
              </div>
              <div class="form-row">
              <div class="form-group col-md-6">
                {{form.employee_status.label_tag}}
                {{form.employee_status}}
                {{ form.employee_status.errors }}
              </div>
              <div class="form-group col-md-6">
                <label for="note-image">Images</label>
                <input type="file" name="images" class="form-control-file" id="note-image" multiple>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock %}