{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student List</title>
    <style>
        th,
        td {
            text-align: left;
        }

        td {
            text-align: justify;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Employee List</h1>

    <table>
        <thead>
            <tr>
                <th>Student_Id</th>
                <th>Names</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{employee.staff_id}}</td>
                <td>{{employee.names}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.dob}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
{% endblock %}