<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link href="{% static 'css/light.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    <title>{% block title%} Face Detection {% endblock%}</title>


</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <!-- sidebar -->
        {% if user.is_authenticated %}
        {% include 'partials/_sidebar.html'%}
        {% endif %}
        <div class="main">
            <!-- navbar -->
            {% if user.is_authenticated %}
            {% include 'partials/_navbar.html'%}
            {% endif %}
            <!-- main  -->
            <span style="margin-left: 48px; margin-right: 50px; font-size: 16px; margin-top: 20px;">
                {% if messages %}

                {% for message in messages %}
                <div class="alert alert-{{ message.tags}} messages">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
            </span>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

            {% block content %}

            {% endblock %}

            <!-- Footer -->
            {% if user.is_authenticated %}
            {% include 'partials/_footer.html'%}
            {% endif %}
        </div>
        <script src="{% static 'js/app.js'%}"></script>
    </div>
    <script text="javascript">
        setTimeout(fade_out, 3000);
        function fade_out() {
            $(".messages").fadeOut();
        }
    </script>

</body>

</html>